*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

.container{
    margin-top: 20px;
    margin-left: 10px;

}
.container h2{
    font-weight: 900;
}
.form-section input{
    padding: 10px;
    margin: 5px;
    width: 250px;
}
#cer{
    text-align: center;
}
button{
    padding: 10px 15px;
    margin: 5px;
    width: 200px;
    background: #117824;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
 background-color: #092e10;

}
.certificate h2,p{
    margin: 10px;
    padding: 10px;
}
.certificate h2 {
    font-weight: bolder;
    padding-right: 20px;
    margin-left: 0px;
    padding-left: 0px;


}
/* .certificate{
    background-image:linear-gradient(
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
              ), url( "Maulana Azad NAtional Institute of Technology Bhopal.png" );
    background-size: cover;
} */
.certificate{
    width: 900px;
    height: 550px;
    margin: 40px auto;
    padding: 40px;
    padding-bottom: 0%;
    text-align: center;
    position: relative;

    /* border: 12px solid #115680; */
    /* border-radius: 10px; */

    background: linear-gradient(
                rgba(255,255,255,0.9),
                rgba(255,255,255,0.9)
              ),
              url("Maulana Azad NAtional Institute of Technology Bhopal.png");

    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 800px;
    height: 500px; */
    /* margin: 20px auto;
    padding: 30px; */
    background: white;
    border: 8px solid #115680;
    /* border-radius: 5px; */
    border-radius: 0px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 7px #3498db;
}
/* #Institute{
    padding-left: 20px;
    padding-right: 0px;
    margin-right: 0px;
} */

.certificate h1{
    font-size: 40px;
    color: #115680;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
}
.photo{
    width: 120px;
    height: 150px;
    border: 4px solid #115680;
    padding: 5px;
}

#cert-name{
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: #1a65d5;
}
#cert-course{
    font-weight: bold;
    font-size: 24px;
}
input{
    height: 36px;
    width: 200px;
}

img{
    /* opacity: 0.5; */
}
.certificate h1{
    margin-bottom: 0px;
    margin-left: 50px;

}
#certificate div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.certificate div img{
    height: 80px;
    background-color: white;
    width: 100px;

}
#cert-name{
    color: rgb(26, 101, 213);
}
